<%- include('../partials/header.ejs') %>

<main class="list-container">

  <h1 class="hero"><%= title %> </h1>
  <section>
    <% if (categoryList.length === 0) { %>
    <h2>
      No categories found.
    </h2>
    <% } else { %>
    <ul class="list-container__list">
      <% categoryList.forEach(category => { %>
      <li class="list-container__list-item">

        <a href="/category/<%= category.id %>">
          <%= category.name %>
        </a>
        <div class="list-field-wrapper">
          <p class="secondary-info">
            <strong>Number of equipment: </strong><%= category.equipments.length %>
          </p>
        </div>
      </li>
      <% }) %>
    </ul>
    <% } %>
  </section>
</main>
<%- include('../partials/footer.ejs') %>