<%- include('../partials/header.ejs') %>

<main class="delete-container">
  <h1 class="hero">
    <%= title %>
  </h1>
  <section class="delete-wrapper">
    <% if (categoryEquipments.length > 0 ) {%>
    <p class="association-info">
      This category is associated with the following equipment:
    </p>
    <ul class="association-list">
      <% categoryEquipments.forEach(equipment => { %>
      <li>
        <a class="link-primary" href="/equipment/<%= equipment.id %>">
          <%= equipment.name %>
        </a>
      </li>
      <% }) %>
    </ul>
    <p class="association-warning">
      <strong>Warning!</strong> Deleting this category will also delete all associated equipment.
    </p>

    <% } else { %>
    <p class="association-info">
      This category is not associated with any equipment.
    </p>
    <% } %>
    <p>
      Do you want to delete this category?
    </p>
    <button class="btn-danger delete-btn">Delete Category</button>

  </section>
  <div class="admin-password-modal">
    <div class="admin-password-modal__container">
      <h2 class="admin-password-modal__header">Admin Password</h2>
      <form class="admin-password-modal__form">
        <div class="form-group">
          <label for="password">Password</label>
          <input class="password-input" type="password" id="password" name="password" placeholder="Password" required>
        </div>
        <p class="modal-error"></p>
        <div class="admin-password-modal__form-btn-wrapper">
          <button class="btn-primary modal-submit-delete-btn">Submit</button>
          <button class="btn-secondary modal-cancel-btn">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</main>
<%- include('../partials/footer.ejs') %>