<%- include('../partials/header.ejs') %>

<main class="delete-container">

  <h1 class="hero">
    <%= title %>
  </h1>
  <section class="delete-wrapper">
    <p class="secondary-info">
      <strong class="secondary-info__label">Address: </strong>
      <%= location.address %>
    </p>


    <% if (locationInventory.length> 0) {%>
    <p class="association-info">
      This location is currently associated with these inventory Equipments:
    </p>
    <ul class="association-list">
      <% locationInventory.forEach(inventory=> { %>
      <li>
        <a class="link-primary" href="/inventory/<%= inventory.id %>">
          <%= inventory.quantity %>
          <%= inventory.equipment.name %>

        </a>
      </li>
      <% }) %>
    </ul>
    <p class="association-warning">
      <strong>Warning!</strong> Deleting this location will also delete the inventory items associated
      with it.
    </p>
    <% } else { %>
    <p class="association-info">
      This location is not associated with any inventory items.
    </p>
    <% } %>
    <p>
      Do you want to delete this location?
    </p>

    <button class="btn-danger delete-btn">Delete Location</button>


  </section>
  <div class="admin-password-modal">
    <div class="admin-password-modal__container">
      <h2 class="admin-password-modal__header">Admin Password</h2>
      <form class="admin-password-modal__form">
        <div class="form-group">
          <label for="password">Password</label>
          <input class="password-input" type="password" id="password" name="password" placeholder="Password" required>
        </div>
        <p class="modal-error"></p>
        <div class="admin-password-modal__form-btn-wrapper">
          <button class="btn-primary modal-submit-delete-btn">Submit</button>
          <button class="btn-secondary modal-cancel-btn">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</main>
<%- include('../partials/footer.ejs') %>