<%- include('../partials/header.ejs') %>

<main class="form-container">
  <h1 class="hero">
    <%= title %>
  </h1>

  <form action="" method="post" class="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="<%= (typeof name != "undefined" ? name : "" ) %>" placeholder="Equipment Name" required>
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select name="category" id="category" required>
        <option value="" hidden>Select a category</option>
        <% categoryList.forEach(category=> { %>
        <option value="<%= category.id %>" <%=typeof selectedCategoryId !="undefined" &&
                            category.id===selectedCategoryId ? 'selected' : '' %>>
          <%= category.name %>
        </option>
        <% }) %>
      </select>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea type="text" id="description" name="description" required>
<%= (typeof description !="undefined" ? description : "" ) %></textarea>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" id="price" name="price" value="<%= (typeof price !=
      "undefined" ? price : "" ) %>" placeholder="Price" required>
    </div>

    <button class="btn-primary <%= typeof update !="undefined" && update === true ? 'btn-form-primary' : ''  %>">Submit</button>
  </form>
  <% if (typeof errors !="undefined" && errors.length> 0) {%>
  <div class="errors form__errors-container"">
    <h3 class=" form__errors-header">Errors:</h3>
    <ul class="form__errors-list">
      <% errors.forEach(error=> { %>
      <li class="form__errors-list-item">
        <%= error.msg %>
      </li>
      <% }) %>
    </ul>
  </div>
  <% } %>
</main>
<div class="admin-password-modal">
  <div class="admin-password-modal__container">
    <h2 class="admin-password-modal__header">Admin Password</h2>
    <form class="admin-password-modal__form">
      <div class="form-group">
        <label for="password">Password</label>
        <input class="password-input" type="password" id="password" name="password" placeholder="Password" required>
      </div>
      <p class="modal-error"></p>
      <div class="admin-password-modal__form-btn-wrapper">
        <button class="btn-primary modal-submit-delete-btn">Submit</button>
        <button class="btn-secondary modal-cancel-btn">Cancel</button>
      </div>
    </form>
  </div>
</div>
<%- include('../partials/footer.ejs') %>