<%- include('../partials/header.ejs') %>

<main class="delete-container">

  <h1 class="hero">
    <%= title %>
  </h1>
  <section class="delete-wrapper">
    <article class="secondary-info__wrapper">
      <p class="secondary-info">
        <strong class="secondary-info__label">Category:</strong>
        <%= equipment.category.name %>
      </p>
      <p class="secondary-info">
        <strong class="secondary-info__label">Description: </strong><%= equipment.description %>
      </p>
      <p class="secondary-info">
        <strong class="secondary-info__label">Price:</strong>
        <%= equipment.price %>
      </p>
    </article>
    <% if (equipmentInventory.length> 0) {%>
    <p class="association-info">
      This equipment is currently associated with these inventory records:
    </p>
    <ul class="association-list">
      <% equipmentInventory.forEach(equipmentRecord=> { %>

      <li>
        <a class="link-primary" href="/inventory/<%= equipmentRecord.id %>">
          <strong>Quantity:</strong>
          <%= equipmentRecord.quantity %>
          <strong>Location:</strong>
          <%= equipmentRecord.location.address %>
        </a>
      </li>

      <% } ) %>
    </ul>
    <p class="association-warning">
      <strong>Warning!</strong> Deleting this equipment will also delete all inventory records associated
      with
      this equipment.
    </p>
    <% } else { %>
    <p class="association-info">
      This equipment is not associated with any inventory records.
    </p>
    <% } %>
    <p>
      Do you want to delete this equipment?
    </p>

    <button class="btn-danger delete-btn">Delete Equipment</button>


  </section>
  <div class="admin-password-modal">
    <div class="admin-password-modal__container">
      <h2 class="admin-password-modal__header">Admin Password</h2>
      <form class="admin-password-modal__form">
        <div class="form-group">
          <label for="password">Password</label>
          <input class="password-input" type="password" id="password" name="password" placeholder="Password" required>
        </div>
        <p class="modal-error"></p>
        <div class="admin-password-modal__form-btn-wrapper">
          <button class="btn-primary modal-submit-delete-btn">Submit</button>
          <button class="btn-secondary modal-cancel-btn">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</main>
<%- include('../partials/footer.ejs') %>